body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
div {
  display: block;
}
#nav-item {
  position: fixed;
}
#container {
  background-color: #1f1e1e;
  width: 1130px;
  height: 100%;
  padding: 20px 30px;
  margin: 0 auto;
  letter-spacing: -0.2px;
  color: white;
}
#container::after {
  content: "";
  display: table;
  table-layout: flex;
  clear: both;
}
body,
#header,
#article,
#asidee,
#footer {
  font-size: 14px;
  line-height: 16px;
  float: none;
}
#wrap {
  background-color: #1e1f21;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: auto;
}
#header {
  background-color: #292a2d;
  height: 800px;
  z-index: 2000;
  position: relative;
  border: 1px solid #3a3b3d;
}
#article {
  position: relative;
  height: 100%;
  border: 1px solid black;
}
#asidee {
  position: relative;
  height: 100%;
  border: 1px solid black;
}
#footer {
  /* background-color: #fafbfc; */
  position: relative;
  transform: translateY(-100%);
  background-color: #292a2d;
  clear: both;
  height: 100px;
  border: 1px solid #3a3b3d;
}
.logo {
  width: 50px;
  height: 50px;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
}
.menu {
  position: fixed;
  width: 1130px;
  float: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#search_menu {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: 20px;
}
.board {
  width: 100%;
  height: 100%;
  background-color: #1e1f21;
  border: 1px solid #3a3b3d;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #000000;
}
.board_title {
  width: 100%;
  height: 50px;
  background-color: #292a2d;
  border-bottom: 1px solid #3a3b3d;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 10px -5px #000000;
}
.board_list {
  width: 100%;
  height: 900px;
  background-color: #1e1f21;
  border-bottom: 1px solid #3a3b3d;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 10px -5px #000000;
}

/* button.img-button {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

button.img-button :hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
} */

@media (min-width: 400px) {
  #wrap {
    min-width: 400px;
  }
  .menu {
    width: 380px;
  }
  #container {
    width: 380px;
  }
  #header {
    height: 700px;
  }
  #article {
    float: none;
  }
  #asidee {
    float: none;
  }
  #footer {
    clear: both;
  }
}

@media (min-width: 768px) {
  #wrap {
    min-width: 768px;
  }
  .menu {
    width: 740px;
  }
  #container {
    width: 740px;
  }
  #header {
    height: 500px;
  }
  #article {
    float: none;
  }
  #asidee {
    float: none;
  }
}

@media (min-width: 1024px) {
  #wrap {
    min-width: 1024px;
  }
  .menu {
    width: 970px;
  }
  #container {
    width: 970px;
  }
  #header {
    height: 180px;
  }
  #article {
    float: right;
    width: 74%;
  }
  #asidee {
    float: left;
    width: 25%;
  }
}

@media (min-width: 1280px) {
  #wrap {
    min-width: 1280px;
  }
  .menu {
    width: 1130px;
  }
  #container {
    width: 1130px;
  }
  #article {
    float: right;
    width: 79%;
  }
  #asidee {
    float: left;
    width: 20%;
  }
}

@media (min-width: 1600px) {
  #wrap {
    min-width: 1600px;
  }
  #article {
    float: right;
    width: 81%;
  }
  #asidee {
    float: left;
    width: 18%;
  }
}
